/* Create-Form */
.input-form {
  border: 5px solid teal;
  flex-direction: column;
  align-items: center;
}

/* Advice */
.input-form > .advice {
  border: 5px solid tan;
  margin-top: 5%;
}

/* Todolist-info */
.input-form > .todo-info {
  border: 5px tomato solid;
  flex-direction: column;
  justify-content: space-around;
  height: 50vh;
}

/* Todolist-info-title,content-position */
.todo-info label, input {
  display: block;
}

.todo-info .todo-title, .todo-content {
  flex-direction: column;
  justify-content: space-around;
}

/* Button-Position-Size.. */
.input-form > .buttons-wrapper {
  border: 5px blue solid;
  width: 25%;
  height: 20vh;
  justify-content: space-evenly;
  align-items: center;
}

.buttons-wrapper .button--create,
.button--cancle {
    width: 5vw;
}

.buttons-wrapper i {
  font-size: 2rem;
}